<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E48PFCL0LY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-E48PFCL0LY');
  </script>

  {% if page.layout == "post" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": {{ page.title | jsonify }},
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Organization",
      "name": "{{ site.title }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}"
    },
    "description": {{ page.excerpt | strip_html | strip_newlines | truncate: 300 | jsonify }}
  }
  </script>
  {% endif %}
</head>
